<div class="container">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">THE Pizza Club</h1>
    <p class="lead">Go ahead and order a taco! Veg friendly!</p>
  </div>
</div>
</div>

<div class="row m-3">
    <div class="col-5 ordered"></div>
    <div class="col-2">This is a filler for now</div>
    <div class="col-5 picked-up"></div>
</div>
<div class="form ">
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
      <input type="checkbox" aria-label="Checkbox for following text input">

</div>
